NEXT_PUBLIC_SUPABASE_URL=https://wdbnyzzvlgfubtrtalhh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=REEMPLAZAR_CON_LA_CLAVE_PUBLICA
SUPABASE_SERVICE_ROLE_KEY=REEMPLAZAR_CON_LA_CLAVE_PRIVADA_DE_SERVIDOR
APP_BASE_URL=https://www.maricelconse.com.ar
MERCADOPAGO_ACCESS_TOKEN=REEMPLAZAR_CON_ACCESS_TOKEN
MERCADOPAGO_PLAN_ID=REEMPLAZAR_CON_ID_DEL_PLAN
MERCADOPAGO_WEBHOOK_SECRET=REEMPLAZAR_CON_LA_FIRMA_SECRETA
RECONCILE_API_TOKEN=REEMPLAZAR_CON_UN_TOKEN_ALEATORIO_DE_MANTENIMIENTO
RESEND_API_KEY=REEMPLAZAR_CON_API_KEY_DE_RESEND
EMAIL_FROM=Maricel Conse <acceso@maricelconse.com.ar>
ADMIN_NOTIFICATION_EMAILS=maricellourdestomas@gmail.com
